button{
  border-radius: 5px;
  position: relative;
  left: 35%;
  bottom: 10%;

}
.Item-Details{
  position: relative;
  background-color: lightpink;
  border-radius: 5px;
}
h2{
  text-align: center;
}
p{
  color: darkslateblue;
}
